$background: #313338;
$backgroundHover: #2e3035;

$text: #fff;
$textSecondary: #99aab5;

$blurple: #5865f2;
$green: #58f287;

$highlite: #F0B132;
$highliteOpacity: #444037;
$highliteOpacityHover: #403D38;